/*Banner Section Starts Here*/
.banner-content {
    max-width: 570px;
    border: 4px solid $white-color;
    background: $theme-two;
    padding: 50px 50px 55px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
    @include border-radius(70px 15px);
    .cate {
        font-weight: 600;
        margin: 0;
        margin-bottom: 6px;
    }
    .title {
        font-size: 60px;
        line-height: 1;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 34px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        color: #192e41;
    }
    .custom-button {
        &::before {
            background: $theme-one;
        }
        &::after {
            background: $theme-five;
        }
    }
    @include breakpoint(max-md) {
        padding: 50px 30px;
        .cate {
            font-size: 24px;
        }
        .title {
            font-size: 50px;
            line-height: 60px;
        }
        p {
            font-size: 16px;
            line-height: 28px;
        }
    }
    @include breakpoint(max-sm) {
        padding: 40px 0;
        background: transparent;
        box-shadow: none;
        border: none;
        .cate {
            font-size: 20px;
        }
        .title {
            font-size: 42px;
            line-height: 48px;
        }
    }
    &.style-2 {
        border: none;
        background: transparent;
        box-shadow: none;
        padding: 0;
        max-width: 500px;
        z-index: 1;
        .title {
            font-weight: 700;
            @include breakpoint(xl) {
                font-size: 72px;
            }
            span {
                text-transform: uppercase;
            }
        }
    }
}
.banner-thumb {
    width: calc(100% - 610px);
    position: relative;
    img {
        position: absolute;
        top: -90px;
        left: 0;
    }
    @include breakpoint(max-xl) {
        width: calc(100% - 560px);
        img {
            width: 550px;
            top: -40px;
            @include breakpoint(max-lg) {
                display: none;
            }
        }
    }
}
.banner-section {
    padding: 180px 0;
    position: relative;
    @include breakpoint(max-xl) {
        padding: 100px 0;
    }
    @include breakpoint(max-lg) {
        padding: 120px 0;
    }
    @include breakpoint(max-md) {
        padding: 100px 0;
    }
    @include breakpoint(max-sm) {
        padding: 80px 0 90px;
    }
    &.style-2 {
        padding: 236px 0 245px;
        background-attachment: fixed;
        @include breakpoint(max-xl) {
            padding: 180px 0;
        }
        @include breakpoint(max-lg) {
            padding: 170px 0;
        }
        @include breakpoint(max-md) {
            padding: 150px 0;
            background-color: $theme-four !important;
        }
        @include breakpoint(max-sm) {
            padding: 120px 0 130px;
        }
    }
    &.style-3 {
        background: #f8fff0;
        padding: 150px 0;
        @include breakpoint(sm) {
            padding: 250px 0;
        }
        .banner-shape {
            .bs-item {
                @extend %pa;
                right: 0;
                &:nth-of-type(3n+1) {
                    top: 65%;
                }
                &:nth-of-type(3n+2) {
                    top: 40%;
                    right: 6%
                }
                &:nth-of-type(3n+3) {
                    top: 55%;
                    right: -40px;
                }
                &:nth-of-type(3n+4) {
                    bottom: 0;
                    left: 0px;
                }
                img {}
            }
        }
        .banner-thumb {
            &.bs-item {}
        }
        .banner-content {
            max-width: 510px;
            .cate {
                font-weight: 700;
                font-size: 36px;
                @include breakpoint(xl) {
                    font-size: 72px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
.top-shape-content {
    position: absolute;
    top: 50%;
    left: 0;
    @include transform(translateY(-50%));
    @include breakpoint(xl) {
        @include breakpoint(max-xxl) {
            display: none !important;
        }
    }
    @media (min-width: 1400px) {
        @media (max-width: 1800px) {
            left: -10%;
        }
    }
}


