    /*
    Flaticon icon font: Flaticon
    Creation date: 23/05/2021 22:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-search:before { content: "\f100"; }
.flaticon-play:before { content: "\f101"; }
.flaticon-reliability:before { content: "\f102"; }
.flaticon-compensation:before { content: "\f103"; }
.flaticon-vegan:before { content: "\f104"; }
.flaticon-full-screen:before { content: "\f105"; }
.flaticon-maximize:before { content: "\f106"; }
.flaticon-presentation:before { content: "\f107"; }
.flaticon-deposit:before { content: "\f108"; }
.flaticon-atm-machine:before { content: "\f109"; }
.flaticon-charity:before { content: "\f10a"; }
.flaticon-bars:before { content: "\f10b"; }
.flaticon-deposit-1:before { content: "\f10c"; }
.flaticon-content-management-system:before { content: "\f10d"; }
.flaticon-settings:before { content: "\f10e"; }
.flaticon-referral:before { content: "\f10f"; }
.flaticon-zoom:before { content: "\f110"; }
.flaticon-logout:before { content: "\f111"; }
.flaticon-bell:before { content: "\f112"; }
.flaticon-envelope:before { content: "\f113"; }
.flaticon-email:before { content: "\f114"; }
.flaticon-phone-call:before { content: "\f115"; }
.flaticon-pin:before { content: "\f116"; }
.flaticon-clock:before { content: "\f117"; }
.flaticon-add:before { content: "\f118"; }
    
    $font-Flaticon-search: "\f100";
    $font-Flaticon-play: "\f101";
    $font-Flaticon-reliability: "\f102";
    $font-Flaticon-compensation: "\f103";
    $font-Flaticon-vegan: "\f104";
    $font-Flaticon-full-screen: "\f105";
    $font-Flaticon-maximize: "\f106";
    $font-Flaticon-presentation: "\f107";
    $font-Flaticon-deposit: "\f108";
    $font-Flaticon-atm-machine: "\f109";
    $font-Flaticon-charity: "\f10a";
    $font-Flaticon-bars: "\f10b";
    $font-Flaticon-deposit-1: "\f10c";
    $font-Flaticon-content-management-system: "\f10d";
    $font-Flaticon-settings: "\f10e";
    $font-Flaticon-referral: "\f10f";
    $font-Flaticon-zoom: "\f110";
    $font-Flaticon-logout: "\f111";
    $font-Flaticon-bell: "\f112";
    $font-Flaticon-envelope: "\f113";
    $font-Flaticon-email: "\f114";
    $font-Flaticon-phone-call: "\f115";
    $font-Flaticon-pin: "\f116";
    $font-Flaticon-clock: "\f117";
    $font-Flaticon-add: "\f118";